# Ignorar la carpeta .vscode
.vscode
prueba
archivosReducidos
genoma

# Ignorar ejecutable
a.exe
count_distinct.exe

# Ignorar archivo de pruebas
prueba.cpp
crearReducido.bat
genoma1000.fna
genoma100000.fna
g1.fna
g2.fna
g21000.fna
g2.zip

# Ignorar archivo de genoma
GCF_000308155.1_EptFus1.0_genomic.fna
genoma1.fna
genoma2.fna